@import "../../shared/mixins/breakpoints";

.fineArtsWrapper,
.reportageWrapper,
.advertisingWrapper,
.streetWrapper {
  margin: 30px;
}

.photography__finearts img,
.photography__reportage img,
.photography__street img,
.photography__advertising img {
  width: 100%;
}

@include sm {
  .photography {
    &__finearts,
    &__reportage,
    &__street,
    &__advertising {

      &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & > div {
          flex-basis: 40%;
        }
      }

      &__title {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 15px 0px;
      }
    }
  }
}
