.contacts__wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid black;

    > li {
        margin-bottom: 20px;
    }

    .subContacts {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .iconWrapper {
        display: inline-block;
        margin-right: 10px;
    }
}