@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
  
#overlay-button {
	cursor: pointer;
	left: 50%;
	position: absolute;
	user-select: none;
	z-index: 5;
	span {
		height: 4px;
		width: 35px;
		border-radius: 2px;
		background-color: black;
		position: relative;
		left: -50%;
		display: block;
		transition: all .2s ease-in-out;
		&:before {
			top: -10px;
			visibility: visible;
		}
		&:after {
			top: 10px;
		}
		&:before, &:after {
			height: 4px;
			width: 35px;
			border-radius: 2px;
			background-color: black;
			position: absolute;
			content: "";
			transition: all .2s ease-in-out;
		}
	}
	&:hover span, &:hover span:before, &:hover span:after {
		background: #333332;
	}
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ #overlay {
	visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
	&:hover span, span{
		background: transparent;
		top: -60px;
	}
	span {
		&:before {
		transform: rotate(45deg) translate(7px, 7px);
		opacity: 1;
		}
		&:after {
		transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#overlay {
	height: 100vh;
	width: 100vw;
	background: white;
	z-index: 2;
	visibility: hidden;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	&.active {
		visibility: visible;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100%;
		padding-left: 0;
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
		li {
			padding: 1em;
			a {
				color: black;
				text-decoration: none;
				font-size: 1.5em;
				&:hover {
				color: #333332;
				}
			}
		}
	}
}

#overlay .menu {
	&__photography,
	&__contacts {
		display: none;
	}
}
  