@import './shared/mixins/breakpoints';

#___gatsby {
	height: 100%;
}

#gatsby-focus-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;

	.application {
		display: none;
	}
}

body {
	animation: bugfix infinite 1s;
	font-family: arial;
	height: 100vh;
    margin: 0;
	width: 100vw;
	-webkit-animation: bugfix infinite 1s;

	a {
		text-decoration: none;
		color: black;
	}
}

.show {
	display: flex;
}

.indexImage {
	@include sm {
		margin-top: 50px;
	}
}
