@import '../../shared/mixins/breakpoints';

.angelFaceWrapper,
.leHaineWrapper,
.rebeccaWrapper,
.recordingFlowersWrapper,
.theBlackSwanWrapper {
    margin: 30px;
}

.photography__angelface img,
.photography__lehaine img,
.photography__rebecca img,
.photography__recordingflowers img,
.photography__theblackswan img {
    width: 100%;
}

.new_projects_cards_wrapper {
    @include sm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.photo_card_wrapper {
    @include sm {
        flex-basis: 40%;
    }
}

.photography {
    &__rebecca,
    &__angelface,
    &__recordingflowers,
    &__lehaine,
    &__theblackswan {

        &__title {
            @include sm {
                text-align: center;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 15px 0px;
            }
        }

        &__content {
            @include sm {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }

            & > div {
                @include sm {
                    flex-basis: 40%;
                }
            }
        }
    }
}