@import '../../shared/mixins/breakpoints';

.biography__wrapper {
    margin-top: 45px;

    .biography {
        @include sm {
            width: 500px;
            margin: 0 auto;
        }
    }
    
    h3 {
        text-align: center;
    }

    .imgBiographyWrapper {
        width: 300px;
        margin: 0 auto;
    
        img {
            width: 100%;
        }
    }

    .biography__section {
        margin: 0 30px;

        &__content {
            margin-bottom: 20px; 

            &__when {
                display: inline-block;
                width: 100%;
                text-align: start;
            }

            &__where {
                display: inline-block;
                width: 100%;
                text-align: end;
            }
        }
    }
}
