@import '../../shared/mixins/breakpoints';

.photo_card_wrapper, 
.bloodWrapper,
.PTMACWrapper,
.TAODWrapper {
    margin: 30px;
}

.photo_card_wrapper img,
.photography__blood img,
.photography__pleasetellmeandcry img,
.TAODWrapper video {
    width: 100%;
}

.performances_cards_wrapper {
    @include sm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.photo_card_wrapper {
    @include sm {
        flex-basis: 40%;
    }
}

@include sm {
  .photography {
    &__pleasetellmeandcry,
    &__blood {

      &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & > div {
          flex-basis: 40%;
        }
      }

      &__title {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 15px 0px;
      }
    }
  }

  .TAODWrapper {
    h3 {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 15px 0px;
    }
  }
}